<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page title</title>
  </head>
  <body>
    <main>
      <div>Page Detail Page!!!!!</div>
      <div>
        <span><%=prod.title %></span>
        <span><%=prod.price %></span>
        <span><%=prod.description %></span>
      </div>
    </main>
  </body>
</html>
